.day-price-col{
	color: darkorange;
}
.price-col{
	color: blue;
}

.extension-col{
	color: purple;
}

.time-created-col{
	color: green;
}

.deposit-col{
	color: red;
}

.total{
	font-weight: bold;
	font-size: 1.2em;
}

.page{
	margin-left: 8rem;
	margin-right: 8rem;
}

.account-form-container{
	margin: 0;
	padding: 0;
	position: fixed;
}

.submit-button{
	position: relative;
	padding-top: 2rem;
}

.date-search-button{
	position: relative;
	margin-top: 1rem;
}

.price-field{
	color: blue;
}

.cc-field{
	color: black;
}

.ext-field{
	color: purple;
}

.dep-field{
	color: red;
}

.misc-field{
	color:black;
}

#input-no{
	width: 50px;
}

@media (min-width: 568px){

.room-field{
	position: fixed;
	top: 12rem;
	left: 8rem;
}

.price-field{
	position: absolute;
	top: 0;
	left: 7rem;
}

.cc-field{
	position: absolute;
	top: 0;
	left: 7rem;
}

.ext-field{
	position: absolute;
	top: 0;
	left: 7rem;
}

.dep-field{
	position: absolute;
	top: 0;
	left: 7rem;
}

.misc-field{
	position: absolute;
	top: 0;
	left: 7rem;
}

.account-remark{
	position: fixed;
	top: 18rem;
	left: 8rem;
}
}

@media (max-width: 568px){

.room-field{
	position: fixed;
	top: 17rem;
	left: 8rem;
}

.price-field{
	position: absolute;
}

.cc-field{
	position: absolute;
}

.ext-field{
	position: absolute;
}

.dep-field{
	position: absolute;
}

.misc-field{
	position: absolute;
}

.account-remark{
	position: fixed;
	top: 48rem;
	left: 8rem;
}
}
