.day-price-col{
	color: sienna;
}
.price-col{
	color: blue;
}

.extension-col{
	color: purple;
}

.time-created-col{
	color: green;
}

.deposit-col{
	color: red;
}

.total{
	font-weight: bold;
}

.page{
	margin-left: 8rem;
	margin-right: 8rem;
}

.account-form-container{
	margin: 0;
	padding: 0;
}

.submit-button{
	position: static;
	padding-top: 7rem;
}

.date-search-button{
	position: relative;
	margin-top: 1rem;
}

.price-field{
	color: blue;
}

.ext-field{
	color: purple;
}

.dep-field{
	color: red;
}

#input-no{
	width: 50px;
}