/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-datepicker
 */

 .container .nav-tabs a{
    display: table-cell;
    position: relative;
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    vertical-align: middle;
    font-size: 1.625rem;
    letter-spacing: 0.05rem;
    font-weight: 700;
    text-transform: uppercase; 
    cursor: pointer;
    color: black;
}

.container .nav-tabs .new-tab a{
    color: red;
}

.container .nav-tabs .day-tab a{
    color: orange;
}

.container .nav-tabs .night-tab a{
    color: blue;
}

.container .nav-tabs .today-tab a{
    color: red;
}

.container .nav-tabs a:active{
    color: rgb(233,50,117);
    background-color: white;
}
