// Place all the styles related to the staff controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.account-form-container{
	margin: 0;
	padding: 0;
	position: fixed;
}

.add-button{
	font-weight: bold;
	font-size: 1.5rem;
	border: groove;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
	padding-right: 5px;
}

.add-button a{
	color: red;
}

.add-button a:hover{
	text-decoration: none;
	color: crimson;
}

.account-form{
	margin-left: 1rem;
}
.staff-submit-button{
	position: relative;
	top: 1rem;
}

.time-in,
.time-in-col{
	color: limegreen;
	width: 180px;
}

.time-out,
.time-out-col{
	color: red;
	width: 180px;
}

.name-field{
	width: 80px;
}

#room-num-field{
	width: 50px;
}

@media (min-width: 568px){
.name{
	position: fixed;
	top: 6rem;
	left: 8rem;
}

.room{
	position: absolute;
	left: 10rem;
	top: 0;
}

.time-in{
	position: absolute;
	left: 7rem;
	top: 0;
}

.time-out{
	position: absolute;
	left: 15rem;
	top: 0;
}

.remark{
	position: fixed;
	top: 13rem;
	left: 8rem;
}
}