<div class="page">
<h2>Choose date: <br></h2>

<%= form_for @staffsearcher do |f| %>
  <%= f.text_field :date, :class => 'datepicker', :id => "dp1", :placeholder => "Date" %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">
  var dp1 = $('#dp1').datepicker({
    todayHighlight: true,
    format: 'dd M yyyy'
  }).on('changeDate', function(ev) {
    dp1.hide();
  }).data('datepicker');
</script>
</div>